* {
    margin: 0px;
    padding: 0px;
}

/* ar moddhe googl font babohar kora hoiche  */
/* inter font */
.inter-font1 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Raleway font */

.raleway-font2 {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* ar moddhe googl font babohar kora hoiche */




/* body section  */
body {
    background-color: #F5F8FF;
}

/* akhin takay siyear ofson soro */
.btn-primary {
    text-decoration: none;
    background-color: #4E47FF;
    color: #FFFFFF;
    padding: 12px 36px;
    border-radius: 5px;
    font-weight: 800;
    border: none;
}

.text-center {
    text-align: center;
}


/* akhin takay siyear ofson shesh */

/* header style  */

header {
    background-image: url('../images/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

/* akena nav sectoin style soro */
.menu {
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 50px;
}

nav li {
    list-style: none;
}
.menu a:hover{
    background-color: yellow;
    color: black;
}

.logo {
    font-size: 34px;
    color: #4E47FF;
    font-weight: 900;

}



/* akena nav sectoin style shesh */


/* akena banner section soro */
.banner {
    padding: 155px 0px;
}
.banner button:hover{
    background-color: aqua;
    border-radius: 20%;
    font-size: 60px;
    color: blue;
}

.banner-content {
    font-size: 65px;
    font-weight: 800;
    color: #252432;
}

.stay-focused {
    margin-top: 35px;
}

/* akena banner section shesh */




/* akene takay action section soro */

.action {
    display: flex;
    max-width: 1140px;
    margin: 116px auto;
    justify-content: space-between;
}

.action-content {
    max-width: 517px;
    margin: 62.5px 0px;
}
.action-content button:hover{
    background-color:red;
    color:white;
}

.action-title {
    font-size: 42px;
    font-weight: 800;
    color: #252432;
}

.action-description {
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
    margin: 23px 0px;
}

.action-img img {
    border-radius: 48px;
}

/* akene takay action section shesh */

 

/* akene takay productive user section  style soro */

.productive {
    max-width: 1140px;
    margin: 0 auto;
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 24px;
}

.joined-thousand {
    max-width: 856px;
    margin: 0 auto;
    padding: 50px 142px;
}

.joind-thousand-title {
    font-size: 38px;
    font-weight: 800;
    color: #252432;
    margin-bottom: 0px;
}

.productive-users {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;

}

.productive-users h2 {
    font-size: 80px;
    font-weight: 800;
    color: #4E47FF;
    margin-bottom: 5px;

}

.productive-users p {
    font-size: 20px;
    color: rgb(0, 0, 0, 0.5);
    margin-top: 0px;
    padding-left:15px;
}

/* akene takay productive user section  style shesh*/